@import 'bootstrap.scss';
$font-famaly: Tahoma,sans-serif;

@mixin transition ($param) {
  transition: #{$param};
  -ms-transition: #{$param};
  -moz-transition: #{$param};
  -o-transition: #{$param};
  -webkit-transition: #{$param};
}

.modal{
  display: block;
  position: static;
  .logo {
    text-align: center;
  }
  .bl_links {
    overflow: hidden;
    text-align: center;
    min-height: 30px;
    a {
      display: inline-block;
      text-decoration: none;
      font-family: $font-famaly;
      font-size: 14px;
      line-height: 14px;
      border-bottom: 3px solid transparent;
      color:#cccccc;
      font-weight: bold;
      padding: 0 7px 11px;
      margin: 0 4px;
      &:hover, &.active {
        border-color: #269abc;
        color:#000000;
      }
    }
  }
  .modal-header {
    padding-bottom: 0;
  }
  input {
    border-radius: 0;
  }
  input + input {
    border-top: none;
  }
  button {
    margin: 20px 0 0;
  }
  .modal-dialog {
    width: 350px; margin: 50px auto;
    @media only screen and (max-width: 360px) {
      width: auto;
      margin: 10px;
    }
  }
  .bl_link_password {
    overflow: hidden;
    text-align: center;
    padding: 0 0 20px;
    a {
      text-decoration: none;
      font-family: $font-famaly;
      font-size: 12px;
      line-height: 12px;
      color:#000000;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .bl_wrap_enter_register {
    overflow: hidden;
    min-height: 100px;
    & > div {
      position: relative;
      z-index: -1;
      height: 0;
      overflow: hidden;
      opacity: 0;
      @include transition(all 0.3s ease-out 0s);
    }
  }
  .bl_register, .bl_enter, .bl_password_form {
    &.active {
      z-index: 1;
      height: auto;
      opacity: 1;
      @include transition(all 0.3s linear 0s);
    }
    .text {
      text-align: center;
      font-family: $font-famaly;
      font-size: 14px;
      line-height: 18px;
      color:#000000;
      font-style: normal;
      padding: 0 0 10px;
      a {
        text-decoration: none;
        font-family: $font-famaly;
        font-size: 14px;
        line-height: 18px;
        color:#8c8c8c;
        font-style: normal;
      }
    }
  }
  .bl_password_form {
    h2 {
      text-align: center;
    }
  }
  .back_form_enter_link {
    text-align: center;
    padding: 0 0 10px;
    a {
      display: inline-block;
      text-decoration: none;
      font-family: $font-famaly;
      font-size: 12px;
      line-height: 16px;
      color:#000000;
      font-style: normal;
      &:hover {
        text-decoration: underline;
      }
      span {
        padding: 0 5px 0 0;
      }
    }
  }
  .bl_register {
    .text {
      padding: 0 30px 10px;
      overflow: hidden;
    }
  }

}